<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>NFT Store</title>
    <meta charset="UTF-8">
    <meta name="description" content="Boto Photo Studio HTML Template">
    <meta name="keywords" content="photo, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- fresco -->
    <link rel="stylesheet" href="css/fresco/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/fresco/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/fresco/slicknav.min.css"/>
    <link rel="stylesheet" href="css/fresco/fresco.css"/>
    <link rel="stylesheet" href="css/fresco/slick.css"/>
    <link rel="stylesheet" href="css/fresco/style.css"/>


    <!-- Buzz -->
    <link rel="shortcut icon" type="image/x-icon" href="img/core-img/favicon.ico">
    <link href="css/buzz/bootstrap.min.css" rel="stylesheet">
    <link href="css/boxicon.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/buzz/templatemo.css">


    <!-- amad-->
    <link rel="stylesheet" href="css/amad/core-style.css">
    <link rel="stylesheet" href="css/amad/style.css">


    <link rel="stylesheet" href="css/custom.css">


    <style>
        .line {
            color: #DDA94B;
        }

    </style>

</head>
<body>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section -->
<!-- Header -->
<!-- Header -->
<nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand h1" href="index" style="margin-right: 2rem;">
            <img src="img/svg/bxs-dice-5.svg">
            <span class="text-dark h4">NFT</span> <span class="text-primary h4" style="color:#1E4174;">Store</span>
        </a>
        <button style="background-color: white;" class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center navbar-collapse flex-fill d-lg-flex justify-content-lg-between collapse show" id="navbar-toggler-success" style="">
            <div class="flex-fill mx-xl-5 mb-2">
                <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark" style="
    display: flex!important;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
">
                    <li class="nav-item" style="
    /* display: flex; */
">
                        <a class="menu_bar" href="index" style="font-size: 14px;color: black;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="menu_bar" href="tSearch" style="font-size: 14px; color: black">Market</a>
                    </li>
                    <li class="nav-item">
                        <a class="menu_bar" href="aList" style="font-size: 14px; color: black">Auction
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="menu_bar" href="gList" style="font-size: 14px; color: black">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="menu_bar" href="about" style="font-size: 14px; color: black">About</a>
                    </li>
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <a class="nav-link" href="#"><img src="img/svg/bx-bell.svg"></a>
                <a th:if="${session.loginId eq null}" class="nav-link" href="M_loginForm"><img src="img/svg/bx-user-circle.svg"></a>
                <a th:if="${session.loginId ne null}" class="nav-link" th:href="@{M_view(mId=${session.loginId})}"><img src="img/svg/bx-user-circle.svg"></a>
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><img src="img/svg/bx-cog.svg"></a>
                <ul class="dropdown-menu" role="menu">
                    <li th:if="${session.loginId eq null}"><a class="nav-link" href="M_joinForm">회원가입</a></li>
                    <li th:if="${session.loginState == 1}"><a class="nav-link" href="M_list">회원리스트</a></li>
                    <li th:if="${session.loginId ne null}"><a class="nav-link" href="M_logout">로그아웃</a></li>
                </ul>

            </div>
        </div>
    </div>
</nav><!-- Close Header -->


<div class="best_G" style="overflow: hidden">  <!-- Start Banner Hero -->
    <div class="outer">
        <div class="inner-list B_inner-list">

            <div th:each="list : ${tList}" class="inner B_inner"
                 th:onclick="'location.href=\''+@{/gView(gNo=${list.gNo})}+'\''">
                <img th:src="@{/T_file/{gFileName}(gFileName=${list.gFileName})}"><br/>
            </div>
        </div>
    </div>

    <div class="button-list B_button-list">
        <button class="button-left B_bt"><img src="img/svg/bxs-chevron-left-circle.svg"></button>
        <button class="button-right B_bt"><img src="img/svg/bxs-chevron-right-circle.svg"></button>
    </div>
    <!-- End Banner Hero -->
    <div style="background-color: #eaf0f77a">
        <a class="gallery_write" th:href="@{bList(bId=${session.loginId})}"><img src="img/svg/bxs-message-edit.svg"></a>

        <!--검색-->
        <div style="margin-left: 5%; margin-top: 20px;">
            <form action="gSearch">
                <div>
                    <select class="Gsearch_key" name="selectVal">
                        <option value="gKey">키워드</option>
                        <option value="gName">작품명</option>
                    </select>
                    <input class="Gsearch_txt" type="text" name="keyword" placeholder="검색어 입력">
                    <input class="Gsearch_button" type="submit" value="검색">


                </div>
            </form>
        </div>
    </div>

    <!-- Main_Content Start here -->
    <div class="main_content_G">
        <div class="main_list_G">
            <div>
                <div class="main_product_G">
                    <tr th:each="slist :${sList}">
                        <div class="main_box_G">
                            <div class="main_box_detail_G">
                                <div class="main_box_card_G">
                                    <a th:href="@{gView(gNo=${slist.gNo})}" class="gallery_card">
                                        <img class="main_box_img_G"
                                             th:src="@{/T_file/{gFileName}(gFileName=${slist.gFileName})}">
                                    </a>
                                </div>
                                <div class="main_box_tag_G" style="height: 150px;">
                                    <!--
                                                                    <td th:text="${glist.gNo}"></td>
                                    -->
                                    <input type="hidden" name="gNo" th:value="${slist.gNo}">
                                    <a th:text="${slist.gName}" th:href="@{gView(gNo=${slist.gNo})}"
                                       style="margin-right: 10px; font-weight: bold; font-size: 24px;">
                                    </a>
                                    <div style="margin-right: 10px; font-size: 14px; color: darkgrey">
                                        <img th:text="${slist.gDate}">
                                    </div>
                                    <div style="margin-right: 10px; font-size: 16px;">
                                        #<img th:text="${slist.gKey}">
                                    </div>
                                    <div style="float: left;">
                                        <a th:href="@{/gProfile(gWriter=${slist.gWriter})}">
                                            <img class="main_box_profile_M" src="img/svg/bx-user-circle.svg"
                                                 th:text="${slist.gWriter}">
                                        </a>
                                    </div>
                                    <div style=" display: inline-block; margin-left:10px;">
                                        ♥<span th:text="${glist.LikeCount}"/></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </tr>
                </div>
                >
            </div>
        </div>
    </div>
</div>
<!-- Main_Content End here -->


<!-- Footer Section -->
<footer class="footer__section">
    <div class="container">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        <div class="footer__copyright__text" style="margin: 100px;text-align: left;">
            <h3>com.nft.store</h3>
            <p>We have created a site on the theme of non-fungible token(NFT) store.
                This site is the output of the final project. The github address is
                <a href="#">https://github.com</a>
            </p>
            <p>4조 : 방동언, 서채연, 송의진, 오새듬, 임은진, 홍민우</p>
            <p>Copyright &copy;
                <script>document.write(new Date().getFullYear());</script>
                All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                        href="https://colorlib.com" target="_blank">Colorlib</a></p>
        </div>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </div>
</footer>
<!-- Footer Section end -->


<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!--====== Javascripts & Jquery ======-->
<script src="js/fresco/jquery-3.2.1.min.js"></script>
<script src="js/fresco/jquery.slicknav.min.js"></script>
<script src="js/fresco/slick.min.js"></script>
<script src="js/fresco/fresco.min.js"></script>
<script src="js/fresco/main.js"></script>

<!-- Buzz!!!!! Bootstrap -->
<script src="js/buzz/bootstrap.bundle.min.js"></script>
<!-- Load jQuery require for isotope -->
<script src="js/buzz/jquery.min.js"></script>
<!-- Isotope -->
<script src="js/buzz/isotope.pkgd.js"></script>
<!-- Page Script -->
<script>
    $(window).load(function () {
        // init Isotope
        var $projects = $('.projects').isotope({
            itemSelector: '.project',
            layoutMode: 'fitRows'
        });
        $(".filter-btn").click(function () {
            var data_filter = $(this).attr("data-filter");
            $projects.isotope({
                filter: data_filter
            });
            $(".filter-btn").removeClass("active");
            $(".filter-btn").removeClass("shadow");
            $(this).addClass("active");
            $(this).addClass("shadow");
            return false;
        });
    });
</script>

<script type="text/javascript">
    /*
    div사이즈 동적으로 구하기
    */
    const outer = document.querySelector('.outer');
    const innerList = document.querySelector('.inner-list');
    const inners = document.querySelectorAll('.inner');
    let currentIndex = 0; // 현재 슬라이드 화면 인덱스

    inners.forEach((inner) => {
        inner.style.width = `${outer.clientWidth}px`; // inner의 width를 모두 outer의 width로 만들기
    })

    innerList.style.width = `${outer.clientWidth * inners.length}px`; // innerList의 width를 inner의 width * inner의 개수로 만들기

    /*
      버튼에 이벤트 등록하기
    */
    const buttonLeft = document.querySelector('.button-left');
    const buttonRight = document.querySelector('.button-right');

    buttonLeft.addEventListener('click', () => {
        currentIndex--;
        currentIndex = currentIndex < 0 ? 0 : currentIndex; // index값이 0보다 작아질 경우 0으로 변경
        innerList.style.marginLeft = `-${outer.clientWidth * currentIndex}px`; // index만큼 margin을 주어 옆으로 밀기
    });

    buttonRight.addEventListener('click', () => {
        currentIndex++;
        currentIndex = currentIndex >= inners.length ? inners.length - 1 : currentIndex; // index값이 inner의 총 개수보다 많아질 경우 마지막 인덱스값으로 변경
        innerList.style.marginLeft = `-${outer.clientWidth * currentIndex}px`; // index만큼 margin을 주어 옆으로 밀기
    });
</script>
<!-- Templatemo -->
<script src="js/buzz/templatemo.js"></script>
<script src="JS/slideShow.js"></script>


<!-- Bootstrap js -->
<script src="js/amad/bootstrap.min.js"></script>


<a id="scrollUp" href="#top"
   style=" background-color: #6c5eda; position: fixed; z-index: 2147483647; display: block;"
   class="__web-inspector-hide-shortcut__"><img src="img/svg/bxs-up-arrow.svg"></a>


</body>
</html>